MONGO_USERNAME=xxx
MONGO_PASSWORD=xxx
MONGO_CLUSTER=xxx
MONGO_DATABASE=xxx
MONGO_COLLECTION=xxx
MONGO_URI=xxx
# PostgreSQL (optional)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=scrapit
POSTGRES_USER=postgres
POSTGRES_PASSWORD=